@{
    ViewData["Title"] = "Guardar Cartas";
}
<form>
    <div class="d-flex">
        <p>Ingresar Número: </p>
        <input type="number" name="numero" class="form-control">
    </div>
    <div class="d-flex">
        <p>Ingresar Palo: </p>
        <input type="text" name="palo" class="form-control">
    </div>
    <button class="btn btn-primary" id="guard">Guardar</button>
</form>